<% if current_cart.items.count == 0 %>
  $("#cart_page").html("<h1>The cart is empty</h1>")
  $("#count_of_products").remove()
<% else %>
  $("#product_<%= @id %>").remove()
  $("#total_price").html("<%= number_to_currency(current_cart.total) %>")
  $("#count_of_products").html("<%= current_cart.items.count %>")
<% end %>