%div{id: "cart_page"}
  - if @cart_items.items.count == 0
    %h1
      The cart is empty
  - else
    = render 'cart', is_cart_page: true

    .row
      .col
        = link_to "Checkout", new_checkout_path, class: 'btn btn-lg btn-outline-primary', id: "checkout"
      .col
        .mb-4.float-end
          %span.fw-bold
            Total price:
          %div{id: "total_price"}
            = number_to_currency(@cart_items.total)


