- if @cart_items.items.count == 0
  %h1
    The cart is empty
- else
  = render 'cart', is_cart_page: true
  = link_to "Checkout", new_checkout_path, class: 'btn btn-lg btn-outline-primary float-end', id: "checkout"


