@import "~bootstrap";

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;

  a, span, em {
    padding: 0.2em 0.5em;
    border-radius: 5px;
  }

  .disabled {
    color: #aaaaaa;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    color: black;
  }

  a {
    border: 1px solid #3d3434;
    color: #3d3434;
    text-decoration: none;
    margin: 1px;
    &:hover, &:focus {
      border-color: gray;
      background: #3d3434;
      color: gray;
    }
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }

  .previous_page, .next_page {
    border-width: 2px;
  }

  .previous_page {
    margin-right: 1em;
  }

  .next_page {
    margin-left: 1em;
  }
}

input {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  &[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
}

.input-group {
  clear: both;
  margin: 0;
  position: relative;

  input[type='button'] {
    background-color: #eeeeee;
    width: 25%;
    transition: all 300ms ease;
  }

  .button-minus, .button-plus {
    font-weight: bold;
    padding: 7px;
    margin: 0;
    position: relative;
  }

  .quantity-field {
    position: relative;
    text-align: center;
    width: 50%;
    min-width: 20px;
    max-width: 100px;
    display: inline-block;
    font-size: min(max(1.25vw, 8px), 13px);
    margin: 0;
    resize: vertical;
  }
}