#confirmPopup.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Delete Products
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      .modal-body
        - if many
          Are you sure you want to delete selected products?
        - else
          Are you sure you want to delete the product?
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Close
        - if many
          %button.btn.btn-danger{type: "button", id:"delete-products", onclick:"deleteProducts();"} Delete
        - else
          = link_to 'Delete', product_path(@product), method: :delete, class: 'btn btn-danger'